body{
    background-color: rgb(77, 88, 138);
}

h1{
    font-size: 20px;
    font-weight: 20px;
    text-align: center;
    margin: 20px 0 20px 0;
    color: aliceblue;
}

.box, form{
   
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 250px;
    height: 25px;
    border-radius: 7px;
    padding: 0 15px 0 15px;
}

button {    
    border-radius: 3px;
    border: none;
    font-size: 20px;
	font-weight: bold;
	line-height: 19px;
	line-height: 100%;
	vertical-align: top;
	width: 258px;
	height: hug(67px);
	border-radius: 24px;
    margin: 10px;
	padding: 30px;
	gap: 15px;
	color: #FFFFFF;
	background: #0A3871;
    text-align: center;
    transition: 0.3s all;
	cursor: pointer;

}

button:hover{
    background: #29467E;
	transform: scale(1.1);
	color: #FFFFFF;
}

.texto-msg, p {
    color: aliceblue;
    margin: 30px 10px;
    text-align: center;
}

 .area-cadastro, .area-saida{
    gap: 1px;
    display: inline;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entrada-saida, .buttons{
    margin: 30px;
    padding: 10px;
}

.buttons{
   
    display: flex;
   
}

a{
    text-decoration: none;
    color: aliceblue;
    
}

.menu-cadastro-material{
    display: flex;
    justify-content: center;
}

table{
    background: #FFFFFF;
	border-collapse: collapse;
	border: 1px solid rgb(248, 246, 246);
	width: 100%;
}

table th{
	background-color: #f7f7f7;
	border: 1px solid rgb(240, 240, 240);
}

table th, td{
	border: 1px solid #CCC;
	padding: 5px 5px;
	text-align: center;
}